{% extends "includes/base_site.html" %}
{% load static %}  

{% block style %}
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
{% endblock %}

{% block titulo %}{{titulo}}{% endblock %}

{% block conteudo %}
{% include "../includes/header_usuario.html" %}
<main> 
    <div class="row">
        <div class="col s12 m9 offset-m3">
            <h4 class="header">{{titulo}}</h4>    
            <div class="col s12 m12">
                <div class="col s12 m12 right-align">
                    <a class="waves-effect waves-light btn" href="{% url 'cardapio.cadastro'%}"><i class="material-icons right">add_circle_outline</i>Cadastrar</a>
                </div>
                <form action="/cardapio/consulta" method="GET">
                    {% csrf_token %} 
                    <div class="card-stacked">
                        <div class="col s12 m4">
                            <div class="card-cont/ent">
                                <label for="titulo">Titulo</label>
                                <input type="text" name="titulo" id="titulo">
                            </div> 
                        </div>
                        <div class="col s12 m4">
                            <div class="card-content">
                                <label for="descricao">Descricação</label>
                                <input type="text" name="descricao" id="descricao">
                            </div> 
                        </div>
                        <div class="col s12 m12 right-align">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Pesquisar
                                <i class="material-icons right">search</i>
                            </button>
                        </div>
                    </div>
                </form>    
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m9 offset-m3">    
            <div class="col s12 m12">
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content">
                            <table id="tabela-cardapio" class="striped">
                                <thead>
                                  <tr>
                                      <th>Titulo</th>
                                      <th>Descrição</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for cardapio in cardapios %}
                                        <tr>
                                            <td>{{cardapio.titulo}}</td>
                                            <td>{{cardapio.descricao}}</td>
                                            <td class="right-align">
                                                <a class="waves-effect waves-light btn" href="{% url 'cardapio.deletar' id=cardapio.id%}">Apagar</a>
                                            </td>
                                        </tr>
                                    {%endfor%}
                                </tbody>
                              </table>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>

</footer>
{% endblock %}

{% block script %}
<script>    
    $(document).ready(function() {
        $('#tabela-cardapio').DataTable();
    });
</script>
{% endblock %}
